@media screen and (max-width: 1200px) {
  /* Header */
  .nav-part1 h2 {
    font-size: 22px;
  }
  .nav-part2 ul li a {
    font-size: 18px;
  }
  .nav-part2 ul li button {
    font-size: 18px;
  }
  /* footer */
  .footer-logo h2 {
    font-size: 22px;
  }
  .footer-part-2-topic-1 p {
    font-size: 20px;
  }
  .footer-part-2-topic-2 p {
    font-size: 20px;
  }
  .footer-part-2-topic-2 p {
    font-size: 20px;
  }
  .social-media i {
    font-size: 28px;
  }
  .underline {
    width: 125px;
  }
  @keyframes line_animation {
    from {
      left: -30px;
    }
    to {
      left: 185px;
    }
  }
  .footer-copyride-symbole p {
    font-size: 20px;
  }
  /* ****** About page*********** */
  .about-section-img img {
    height: 640px;
  }
  section.find-us {
    padding: 25px 8%;
    margin-top: 25px;
  }
  /* ****** Contact page*********** */
  .contact-form h2 {
    font-size: 40px;
  }

  /* ****** Test quiz page ****** */
  .testquiz-title {
    height: 180px;
  }
  .testquiz-title h2 {
    font-size: 35px;
  }
  .testquiz-online-1 h2 {
    font-size: 20px;
    height: 70px;
  }
  .testquiz-online-2 h2 {
    font-size: 20px;
    height: 70px;
  }
  .testquiz-online-3 h2 {
    font-size: 20px;
    height: 70px;
  }
  .testquiz-online-4 h2 {
    font-size: 20px;
    height: 70px;
  }
  .test-section {
    width: 95%;
    margin: 55px auto;
    justify-content: space-between;
    gap: 20px;
  }
  /* **********Courses page responsive************* */
  .shop-courses-img img {
    width: 500px;
  }
  .shop-title h2 {
    font-size: 45px;
  }
  /* **********test-computer-basic page responsive************* */
  .test-computer-basic-title {
    height: 185px;
  }
  .test-computer-basic-content h3 {
    font-size: 18px;
  }
  /* ****************computer-basic-quiz set1********************* */
  section.computer-basic-1-section i {
    left: 40px;
  }
  div .quiz {
    width: 85%;
    padding: 28px;
  }
  /* ****************Login Page********************* */
  .login-form-title {
    font-size: 25px;
  }
  /* ****************Sign Up Page********************* */
  section.sign-up-section h1 {
    padding: 20px 40px;
    font-size: 35px;
  }
}

/* ***************For medium to large desktops.***************** */
@media (max-width: 1080px) {
  /* **********Header responsive css********** */
  .nav-part1 {
    gap: 15px;
    margin-left: 13px;
  }
  .nav-part1 img {
    width: 85px;
  }
  .nav-part1 h2 {
    font-size: 18px;
  }
  .nav-part2 ul {
    gap: 1.3em;
  }
  .nav-part2 ul li a {
    font-size: 16px;
  }
  .nav-part2 ul li button {
    font-size: 14px;
  }
  /* ***********Footer responsive csss*************** */
  .footer-logo {
    gap: 16px;
    margin-left: 10px;
  }
  .footer-logo img {
    width: 85px;
    margin-top: 14px;
  }
  .footer-logo h2 {
    font-size: 20px;
  }
  .footer-logo {
    gap: 16px;
  }
  .social-media {
    margin-right: 30px;
    padding-bottom: 8px;
  }
  .social-media i {
    font-size: 22px;
  }
  .footer-logo h2 {
    font-size: 20px;
  }
  /* **********Slider responsive css*************** */
  .mySlides.fade img {
    height: 350px;
  }
  .prev,
  .next {
    font-size: 40px;
  }
  .text {
    padding: 6px 12px;
  }
  .content-section h2 {
    font-size: 28px;
  }
  .content-section p {
    font-size: 17px;
  }
  /* **********Top Section responsive css*************** */
  .top-video {
    gap: 35px;
    margin: 40px 0px;
  }
  .top-video-section h2 {
    font-size: 25px;
  }
  .top-video-1 {
    height: 360px;
  }
  .top-video-1 img {
    height: 205px;
  }
  .top-video-2 {
    height: 360px;
  }
  .top-video-2 img {
    height: 205px;
  }
  .top-video-3 {
    height: 360px;
  }
  .top-video-3 img {
    height: 205px;
  }
  /* **********Recent Section responsive css*************** */
  .recent-video h2 {
    font-size: 25px;
  }
  .recent-title-description-1 button {
    margin: 10px 20px;
  }
  .recent-title-description-2 button {
    margin: 3px 20px;
  }
  .recent-video-1 {
    margin-bottom: 50px;
  }
  .recent-video-2 {
    margin-bottom: 45px;
  }
  /* **********Playlist Section responsive css*************** */
  .playlist-video {
    gap: 30px;
    margin: 35px 0px 20px;
  }
  .playlist-video-section h2 {
    font-size: 25px;
  }
  .playlist-video-1 {
    height: 365px;
  }
  .playlist-video-2 {
    height: 365px;
  }
  .playlist-video-3 {
    height: 365px;
  }
  .playlist-video-1 img {
    height: 230px;
  }
  .playlist-video-2 img {
    height: 230px;
  }
  .playlist-video-3 img {
    height: 230px;
  }
  /* **********Review Section responsive css*************** */
  .video-reviews {
    margin: 35px 0px 110px;
    gap: 35px;
  }
  .video-reviews-part-1 {
    padding: 15px;
  }
  .video-reviews-part-1 h3 {
    font-size: 18px;
  }
  .reviews-part-1-img-name {
    padding-top: 18px;
  }
  .reviews-part-1-img-name img {
    width: 100px;
    height: 100px;
  }
  .reviews-part-1-img-name h3 {
    font-size: 19px;
    padding-left: 12px;
  }
  section.video-reviews-section h2 {
    font-size: 25px;
    margin-bottom: 0;
  }

  /* **********About page responsive css********** */
  section.about-section h2 {
    font-size: 35px;
    padding: 15px;
  }
  .about-section-text h3 {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 15px;
  }
  .about-section-text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
  }
  .about-section-img img {
    height: 470px;
  }
  .about-section-text {
    width: 120%;
  }

  /* **********Article page responsive css********** */
  .heading-article h2 {
    font-size: 30px;
    padding: 30px 0px 25px;
  }
  .article-paragraph p {
    width: 80%;
    margin: 35px auto;
  }
  .article-related h3 {
    font-size: 25px;
    margin: 25px 10px 33px;
  }
  .article-related-post-1 img {
    height: 240px;
  }
  .article-related-post-2 img {
    height: 240px;
  }
  .article-related-post-3 img {
    height: 240px;
  }

  /* ****** Contact page*********** */
  .contact-form h2 {
    font-size: 35px;
  }
  .contact-form h5 {
    margin-bottom: 22px;
  }
  .contact-form fieldset {
    width: 95%;
  }
  .contact-form label {
    font-size: 18px;
  }
  .contact-form button {
    font-size: 18px;
  }
  .find-us-text h2 {
    font-size: 30px;
  }
  .find-us-text h4 {
    font-size: 18px;
    line-height: 1rem;
  }
  section.find-us {
    padding: 20px 5%;
    margin-top: 20px;
  }
  .find-us-loaction iframe {
    height: 290px;
  }
  /* ****** test quiz page*********** */
  .testquiz-title {
    height: 155px;
  }
  .testquiz-title h2 {
    font-size: 30px;
  }
  .test-section {
    flex-flow: row wrap;
    gap: 95px;
    justify-content: center;
  }
  /* **********Courses page responsive************* */
  .shop-courses-title {
    padding: 20px;
  }
  .shop-courses-title button {
    font-size: 18px;
    padding: 9px 10px;
  }
  .trending-section-courses {
    gap: 35px;
  }
  .shop-title h2 {
    font-size: 35px;
    margin: 25px 0px;
  }
  .shop-courses-title h2 {
    font-size: 35px;
    margin: 14px 0px;
  }
  .shop-courses-img img {
    width: 420px;
    height: 90%;
  }
  section.trending-section h2 {
    font-size: 25px;
    padding: 6px 12px 30px;
  }
  section.shop-courses {
    gap: 20px;
    margin-bottom: 20px;
  }
  /* **********test-computer-basic page responsive************* */
  .test-computer-basic-title h2 {
    font-size: 35px;
    padding: 15px;
  }
  .test-computer-basic-content p {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .test-computer-basic {
    gap: 10px;
    margin: 40px auto;
  }
  .test-computer-basic-content h3 {
    padding-bottom: 4px;
    font-size: 20px;
  }
  .test-computer-basic-content button {
    padding: 7px 11px;
    font-size: 14px;
  }
  /* ****************computer-basic-quiz set1********************* */
  .quiz-container {
    width: 55%;
  }
  .nav-container {
    width: 45%;
  }
  section.computer-basic-1-section i {
    top: 50px;
    font-size: 30px;
  }
  /* ****************Result quiz test********************* */
  div#result h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  div#result {
    width: 80%;
  }
  .review-item p {
    font-size: 20px;
  }
  #result button {
    margin: 25px 0px;
    padding: 10px 10px;
    font-size: 14px;
  }
  /* ****************Login Page********************* */
  .login-form {
    width: 41%;
  }
  .login-form-form {
    padding: 10px 20px;
  }
  /* ****************Sign Up Page********************* */
  .sign-up {
    width: 90%;
    gap: 15px;
  }
}
/* ********************Small desktops and large tablets.************************ */
@media (max-width: 900px) {
  /* **********Header responsive css********** */
  .nav {
    height: 85px;
  }
  .slider-section {
    margin-top: 85px;
  }
  .nav-part1 {
    gap: 10px;
    margin-left: 6px;
  }
  .nav-part1 img {
    width: 70px;
  }
  .nav-part1 h2 {
    font-size: 16px;
  }
  .nav-part2 ul {
    gap: 0.7em;
  }
  .nav-part2 ul li a {
    font-size: 13px;
  }
  .nav-part2 ul li button {
    font-size: 12px;
  }
  /* ***********Footer responsive csss*************** */
  .footer-logo img {
    width: 70px;
  }
  .footer-logo {
    gap: 14px;
    margin-top: 4px;
  }
  .footer-logo h2 {
    font-size: 16px;
  }
  .social-media {
    margin-left: 50px;
    gap: 22px;
  }
  .footer-part-2 {
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 22px;
  }
  .footer-part-2-topic-1 p {
    line-height: 45px;
    font-size: 16px;
  }
  .footer-part-2-topic-2 p {
    line-height: 45px;
    font-size: 16px;
  }
  .footer-part-2-topic-3 p {
    line-height: 45px;
    font-size: 16px;
  }
  .footer-copyride-symbole p {
    font-size: 18px;
  }
  .underline {
    width: 105px;
  }
  @keyframes line_animation {
    from {
      left: -30px;
    }
    to {
      left: 120px;
    }
  }
  /* *********Slider responsive css*************** */
  .mySlides.fade img {
    height: 250px;
  }
  .prev,
  .next {
    font-size: 30px;
  }
  .text {
    font-size: 14px;
    padding: 6px 12px;
  }
  .dot {
    height: 13px;
    width: 13px;
  }
  .content-section h2 {
    font-size: 26px;
    margin-bottom: 12px;
  }
  .content-section p {
    font-size: 15px;
    line-height: 28px;
  }
  /* **********Top Section responsive css*************** */
  .top-video-section h2 {
    font-size: 22px;
  }
  .top-video {
    gap: 20px;
    margin: 30px 0px;
  }
  .top-video-1 {
    height: 335px;
  }
  .top-video-1 img {
    height: 180px;
  }
  .top-video-2 {
    height: 335px;
  }
  .top-video-2 img {
    height: 180px;
  }
  .top-video-3 {
    height: 335px;
  }
  .top-video-3 img {
    height: 180px;
  }
  /* **********Recent Section responsive css*************** */
  .recent-video h2 {
    font-size: 25px;
    margin-bottom: 23px;
  }
  .recent-video h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .recent-video-1 {
    margin-bottom: 30px;
  }
  .recent-title-description-1 h4 {
    font-size: 18px;
    margin: 0px 0px 10px 22px;
  }
  .recent-title-description-1 p {
    font-size: 17px;
    padding: 0px 20px;
    line-height: 25px;
  }
  .recent-video-img-1 img {
    height: 95%;
  }

  .recent-video-2 {
    margin-bottom: 30px;
  }
  .recent-title-description-2 h4 {
    font-size: 18px;
    margin: 0px 0px 10px 22px;
  }
  .recent-title-description-2 p {
    font-size: 17px;
    padding: 0px 20px;
    line-height: 25px;
  }
  .recent-video-img-2 img {
    height: 95%;
  }
  .recent-title-description-1 button {
    font-size: 13px;
    margin: 3px 20px;
  }
  .recent-title-description-2 button {
    font-size: 13px;
    margin: 3px 20px;
  }
  /* **********Playlist Section responsive css*************** */
  .playlist-video-section h2 {
    font-size: 22px;
  }
  .playlist-video {
    gap: 20px;
    margin: 25px 0px 20px;
  }
  .playlist-video-1 img {
    height: 190px;
  }
  .playlist-video-1 h4 {
    font-size: 20px;
  }
  .playlist-video-1 p {
    font-size: 15px;
    padding: 9px;
  }
  .playlist-video-1 {
    height: 325px;
  }
  .playlist-video-2 img {
    height: 190px;
  }
  .playlist-video-2 h4 {
    font-size: 20px;
  }
  .playlist-video-2 p {
    font-size: 15px;
    padding: 9px;
  }
  .playlist-video-2 {
    height: 325px;
  }
  .playlist-video-3 img {
    height: 190px;
  }
  .playlist-video-3 h4 {
    font-size: 20px;
  }
  .playlist-video-3 p {
    font-size: 15px;
    padding: 9px;
  }
  .playlist-video-3 {
    height: 325px;
  }
  /* **********Review Section responsive css*************** */
  section.video-reviews-section h2 {
    font-size: 22px;
  }
  .video-reviews {
    margin: 25px 0px 90px;
    gap: 20px;
  }
  .video-reviews-part-1 {
    padding: 10px;
  }
  .video-reviews-part-1 h3 {
    font-size: 18px;
  }
  .reviews-part-1-img-name {
    padding-top: 12px;
  }
  .reviews-part-1-img-name img {
    width: 85px;
    height: 85px;
  }
  .reviews-part-1-img-name h3 {
    font-size: 18px;
    padding-left: 8px;
  }
  .video-reviews-part-1 p {
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
  }
  /* **********About Page responsive css*************** */
  section.about-section {
    margin-top: 85px;
  }
  section.about-section h2 {
    font-size: 30px;
    padding: 10px;
  }
  .about-section-text h3 {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 10px;
  }
  .about-section-text p {
    font-size: 14px;
    line-height: 18px;
  }
  .about-section-text-img {
    gap: 20px;
  }
  .about-section-img img {
    height: 460px;
  }

  /* **********Article page responsive css********** */
  section.article-section {
    margin-top: 85px;
  }
  .heading-article h2 {
    font-size: 25px;
    padding: 15px 0px 18px;
  }
  .heading-article p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .article-heading-img img {
    height: 300px;
  }
  .article-paragraph p {
    width: 85%;
  }
  .article-related h3 {
    font-size: 22px;
    margin: 25px 10px 20px;
  }
  .article-related-post-1 img {
    height: 200px;
  }
  .article-related-post-2 img {
    height: 200px;
  }
  .article-related-post-3 img {
    height: 200px;
  }
  .article-related-post-1 h4 {
    font-size: 14px;
    padding: 5px 0px;
  }
  .article-related-post-1 p {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .article-related-post-2 h4 {
    font-size: 14px;
    padding: 5px 0px;
  }
  .article-related-post-2 p {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .article-related-post-3 h4 {
    font-size: 14px;
    padding: 5px 0px;
  }
  .article-related-post-3 p {
    font-size: 14px;
    margin-bottom: 18px;
  }
  /* **********Contact page responsive css********** */
  section.contact-section {
    margin-top: 85px;
  }
  .contact-form h2 {
    font-size: 30px;
    line-height: 5rem;
  }
  .contact-form form {
    width: 75%;
    margin: 30px auto;
  }
  .contact-form {
    padding: 10px 0px;
  }
  .contact-form label {
    font-size: 16px;
  }
  .contact-form input[type="text"] {
    padding: 14px 15px;
    font-size: 16px;
  }
  .contact-form h5 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .contact-form button {
    font-size: 16px;
  }
  .contact-form textarea#message {
    font-size: 16px;
  }
  .find-us-text h2 {
    font-size: 25px;
  }
  .find-us-text h4 {
    font-size: 16px;
    line-height: 1.5rem;
  }
  .find-us-text p {
    font-size: 16px;
    margin-bottom: 16px;
  }

  /* ****** test quiz page*********** */
  section.testquiz-section {
    margin-top: 85px;
  }
  .test-section {
    gap: 65px;
  }
  .testquiz-title {
    height: 140px;
  }
  .testquiz-title h2 {
    font-size: 25px;
  }
  .testquiz-online-1 h2 {
    font-size: 18px;
  }
  .testquiz-online-2 h2 {
    font-size: 18px;
  }
  .testquiz-online-3 h2 {
    font-size: 18px;
  }
  .testquiz-online-4 h2 {
    font-size: 18px;
  }
  /* **********Courses page responsive************* */
  .shop-title h2 {
    font-size: 30px;
    margin: 20px 0px;
  }
  .shop-courses-title h2 {
    font-size: 25px;
    margin: 10px 0px;
  }
  .shop-courses-title p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .shop-courses-img img {
    width: 320px;
    height: 70%;
  }
  .trending-section-courses {
    padding: 10px 10px 20px;
  }
  .shop-courses-title button {
    font-size: 16px;
    padding: 7px 8px;
  }
  .trending-section-courses-2-part-1 img {
    height: 190px;
  }
  .trending-section-courses-2-part-2 img {
    height: 190px;
  }
  .trending-section-courses h3 {
    font-size: 18px;
  }
  .trending-section-courses p {
    font-size: 16px;
  }
  /* **********test-computer-basic page responsive************* */
  .test-computer-basic {
    gap: 30px;
    flex-wrap: wrap;
  }
  section.test-computer-basic-section {
    margin-top: 85px;
  }
  .test-computer-basic-title h2 {
    font-size: 30px;
    padding: 10px;
  }
  .test-computer-basic-title p {
    width: 85%;
  }
  /* ****************computer-basic-quiz set1********************* */
  section.computer-basic-1-section {
    margin-top: 85px;
  }
  .quiz-container #question {
    margin: 10px auto;
    font-size: 18px;
    height: 40px;
  }
  div .quiz {
    width: 90%;
    padding: 30px 5px;
  }
  section.computer-basic-1-section i {
    top: 17px;
    left: 20px;
    font-size: 25px;
  }
  .quiz-container {
    width: 50%;
  }
  .nav-container {
    width: 50%;
  }
  .nav-container h3 {
    padding: 25px 19px;
    font-size: 20px;
  }
  .quiz-container button {
    padding: 9px 11px;
    font-size: 14px;
  }
  /* ****************Result quiz test********************* */
  div#result {
    width: 85%;
  }
  /* ****************Login Page********************* */
  .login-form {
    width: 45%;
  }
  .user-name,
  .user-password,
  .login-button {
    padding: 10px 0;
  }
  .sign-up-button p,
  .sign-up-button a {
    font-size: 18px;
  }
  /* ****************Sign Up Page********************* */
  section.sign-up-section {
    margin-top: 85px;
  }
  .sign-up {
    flex-wrap: wrap-reverse;
    gap: 35px;
  }
  section.sign-up-section h1 {
    font-size: 30px;
    text-align: center;
  }
  .sign-up-part-1 .name i,
  .sign-up-part-1 .email i,
  .sign-up-part-1 .phone i,
  .sign-up-part-1 .address i,
  .sign-up-part-1 .password i,
  .sign-up-part-1 .confirm-password i {
    margin-left: 90px;
  }
}

/* ********************Smaller tablets.******************** */
@media (max-width: 720px) {
  /* **********Header responsive css********** */
  .nav {
    height: 80px;
  }
  .slider-section {
    margin-top: 80px;
  }
  .hamburger-menu {
    display: block;
    font-size: 30px;
  }
  .nav-part1 {
    width: 50%;
  }
  .nav-part2 {
    position: fixed;
    display: block;
    top: 0;
    right: -100%;
    height: 100%;
    width: 70vw;
    background-color: #333;
    box-shadow: 6px 5px 11px 7px grey;
    z-index: 1;
    padding: 20px;
    transition: 0.5s ease-out;
    border-bottom: 5px;
  }
  .nav-part2.active {
    right: 0%;
    transition: 0.5s ease-in;
  }
  .nav-part2 ul li a {
    font-size: 20px;
    color: white;
    font-weight: 400;
  }
  .nav-part2 ul {
    display: block;
    flex-direction: column;
    padding: 20px 8px;
  }
  .nav-part2 ul li {
    padding-bottom: 15px;
  }
  .nav-part2 ul li button {
    font-size: 15px;
  }
  .nav-part2 .close-btn {
    display: block;
    position: absolute;
    top: 40px;
    right: 28px;
    font-size: 20px;
    color: white;
  }
  .nav-part2 ul li a:hover {
    text-decoration: none;
  }
  .nav-part2 ul li button:hover {
    background: transparent;
    color: #b40000;
    border: 2px solid #550000;
  }

  /* ***********Footer responsive csss*************** */
  .footer-part-1 {
    width: 35%;
  }
  .footer-part-2 {
    width: 65%;
  }
  .footer-copyride-symbole p {
    font-size: 16px;
  }
  .footer-part-2-topic-1 p {
    line-height: 45px;
    font-size: 15px;
  }
  .footer-part-2-topic-2 p {
    line-height: 45px;
    font-size: 15px;
  }
  .footer-part-2-topic-3 p {
    line-height: 45px;
    font-size: 15px;
  }
  .underline {
    width: 97px;
  }
  @keyframes line_animation {
    from {
      left: -30px;
    }
    to {
      left: 112px;
    }
  }
  /* *********Slider responsive css*************** */
  .mySlides.fade img {
    height: 210px;
  }
  .prev,
  .next {
    font-size: 25px;
  }
  .text {
    padding: 4px 12px;
  }
  .dot {
    height: 11px;
    width: 11px;
  }
  /* **********Recent Section responsive css*************** */
  section.recent-video {
    width: 95%;
  }
  .recent-video-1 {
    height: 340px;
  }
  .recent-video-1 {
    margin-bottom: 18px;
  }
  .recent-title-description-1 p {
    font-size: 14px;
    padding: 0px 8px;
    line-height: 23px;
  }
  .recent-title-description-1 h4 {
    margin: 0px 0px 3px 10px;
  }
  .recent-video-img-1 img {
    height: 90%;
  }
  .recent-title-description-1 button {
    font-size: 13px;
    margin: 15px 20px;
  }
  .recent-title-description-2 h4 {
    margin: 0px 0px 3px 10px;
  }
  .recent-video-2 {
    height: 340px;
  }
  .recent-video-2 {
    margin-bottom: 18px;
  }
  .recent-title-description-2 p {
    font-size: 14px;
    padding: 0px 8px;
    line-height: 23px;
  }
  .recent-title-description-2 h4 {
    margin: 0px 0px 10px 10px;
  }
  .recent-video-img-2 img {
    height: 90%;
  }
  .recent-title-description-2 h4 {
    margin: 0px 0px 3px 10px;
  }
  /* **********Playlist Section responsive css*************** */
  .playlist-video-section {
    width: 95%;
  }
  .playlist-video {
    gap: 15px;
    margin: 20px 0px 15px;
  }
  .playlist-video-1 img {
    height: 170px;
  }
  .playlist-video-1 h4 {
    font-size: 18px;
  }
  .playlist-video-1 p {
    font-size: 14px;
    padding: 8px;
  }
  .playlist-video-1 {
    height: 300px;
  }
  .playlist-video-2 img {
    height: 170px;
  }
  .playlist-video-2 h4 {
    font-size: 18px;
  }
  .playlist-video-2 p {
    font-size: 14px;
    padding: 8px;
  }
  .playlist-video-2 {
    height: 300px;
  }
  .playlist-video-3 img {
    height: 170px;
  }
  .playlist-video-3 h4 {
    font-size: 18px;
  }
  .playlist-video-3 p {
    font-size: 14px;
    padding: 8px;
  }
  .playlist-video-3 {
    height: 300px;
  }
  /* **********Review Section responsive css*************** */
  .video-reviews-part-1 h3 {
    font-size: 16px;
  }
  .reviews-part-1-img-name img {
    width: 80px;
    height: 80px;
  }
  /* **********About Page responsive css*************** */
  .about-section-text-img {
    gap: 25px;
    flex-wrap: wrap-reverse;
    width: 90%;
    margin: auto;
  }
  section.about-section h2 {
    font-size: 32px;
    padding: 18px;
  }
  section.about-section {
    margin-bottom: 18px;
    margin-top: 90px;
  }

  /* **********Article page responsive css********** */
  .heading-article h2 {
    font-size: 22px;
    padding: 6px 0px 12px;
  }
  .heading-article p {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .article-heading-img img {
    height: 280px;
  }
  .article-paragraph p {
    width: 90%;
    margin: 30px auto;
    font-size: 16px;
  }
  .article-related h3 {
    font-size: 20px;
    margin: 15px 10px 10px;
  }
  .article-paragraph-img {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .article-paragraph-img img {
    width: 100%;
    padding: 8px 0px;
    height: 270px;
  }
  .article-related-post {
    flex-wrap: wrap;
  }
  .article-related-post-1 img {
    height: 255px;
    padding: 8px 0px;
  }
  .article-related-post-1 h4 {
    font-size: 18px;
    padding: 6px 0px;
  }
  .article-related-post-1 p {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .article-related-post-2 img {
    height: 255px;
    padding: 8px 0px;
  }
  .article-related-post-2 h4 {
    font-size: 18px;
    padding: 6px 0px;
  }
  .article-related-post-2 p {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .article-related-post-3 img {
    height: 255px;
    padding: 8px 0px;
  }
  .article-related-post-3 h4 {
    font-size: 18px;
    padding: 6px 0px;
  }
  .article-related-post-3 p {
    font-size: 18px;
    margin-bottom: 25px;
  }
  /* **********Contact page responsive css********** */
  .contact-form h2 {
    font-size: 25px;
    line-height: 4rem;
  }
  .contact-form h5 {
    font-size: 15px;
    margin-bottom: 13px;
  }
  .find-us-text h2 {
    font-size: 20px;
  }
  .find-us-text h4 {
    font-size: 15px;
    line-height: 1.3rem;
  }
  .find-us-text p {
    font-size: 15px;
    margin-bottom: 11px;
  }
  section.find-us {
    padding: 20px 5%;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .find-us-text {
    width: 90%;
    margin: auto;
  }
  .find-us-loaction {
    width: 90%;
    margin: auto;
  }
  .find-us-loaction iframe {
    height: 370px;
  }
  /* ****** test quiz page*********** */
  section.testquiz-section {
    margin-top: 80px;
  }
  .testquiz-title {
    height: 100px;
  }
  .testquiz-title h2 {
    font-size: 22px;
  }
  .test-section {
    gap: 35px;
    margin: 45px auto;
  }
  /* ****** Courses page responsive*********** */
  .shop-title h2 {
    font-size: 25px;
    margin: 12px 0px;
  }
  .shop-courses-img img {
    width: 275px;
  }
  .shop-courses-title button {
    font-size: 14px;
  }
  section.trending-section h2 {
    font-size: 22px;
    padding: 6px 12px 20px;
  }
  .trending-section-courses-1 {
    width: 55%;
  }
  .trending-section-courses-2 {
    width: 45%;
  }
  /* **********test-computer-basic page responsive************* */
  .test-computer-basic-title h2 {
    font-size: 25px;
  }
  .test-computer-basic-title p {
    font-size: 17px;
  }
  /* ****************computer-basic-quiz set1********************* */
  section.computer-basic-1-section {
    margin-top: 80px;
  }
  .nav-btn {
    width: 30px;
    height: 30px;
  }
  .question-container label,
  input {
    padding-left: 15px;
  }
  div .quiz {
    width: 95%;
  }
  section.computer-basic-1-section i {
    top: 14px;
    left: 12px;
    font-size: 22px;
  }
  /* ****************Result quiz test********************* */
  .review-item p {
    font-size: 18px;
  }
  div#result h2 {
    font-size: 28px;
    margin-bottom: 13px;
  }
  p#score {
    font-size: 22px;
  }
  /* ****************Login Page********************* */
  .login-button button {
    font-size: 18px;
    padding: 14px;
  }
  .user-name,
  .user-password,
  .login-button {
    padding: 5px 0;
  }
  .login-form .user-name input,
  .user-password input {
    font-size: 17px;
  }
  .login-form-title {
    font-size: 20px;
  }
  /* ****************Sign Up Page********************* */
  section.sign-up-section {
    margin-top: 80px;
  }
  .sign-up-part-1 .name i,
  .sign-up-part-1 .email i,
  .sign-up-part-1 .phone i,
  .sign-up-part-1 .address i,
  .sign-up-part-1 .password i,
  .sign-up-part-1 .confirm-password i {
    margin-left: 70px;
  }
}
/* ***************** Small tablets and large phones.******************* */
@media (max-width: 640px) {
  /* **********Header responsive css********** */
  .hamburger-menu {
    right: 40px;
  }
  .nav-part2 ul li a {
    font-size: 18px;
  }
  .nav-part2 .close-btn {
    font-size: 18px;
  }
  .nav-part2 ul li button {
    font-size: 14px;
  }
  /* ***********Footer responsive csss*************** */
  .footer {
    flex-wrap: wrap-reverse;
  }
  .footer-part-1 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .footer-part-2 {
    width: 100%;
    height: auto;
  }
  .footer-part-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .footer-logo h2 {
    font-size: 14px;
  }
  .social-media {
    margin-top: 0px;
    margin-right: 12px;
    padding-bottom: 0px;
  }
  .footer-copyride-symbole p {
    font-size: 15px;
  }
  .footer-logo {
    gap: 16px;
    margin-left: -4px;
  }
  /* *********Slider responsive css*************** */
  .mySlides.fade img {
    height: 200px;
  }
  .prev,
  .next {
    font-size: 22px;
  }
  .text {
    padding: 2px 12px;
  }
  .prev,
  .next {
    margin-top: -43px;
  }
  .content-section h2 {
    font-size: 23px;
    margin-bottom: 5px;
  }
  .content-section p {
    font-size: 14px;
    line-height: 25px;
  }
  /* **********Top Section responsive css*************** */
  .top-video {
    flex-wrap: wrap;
  }
  .top-video {
    gap: 30px;
  }
  /* **********Recent Section responsive css*************** */
  section.recent-video {
    width: 95%;
  }
  .recent-video-1 {
    height: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
  }
  .recent-title-description-1 h4 {
    margin: 10px 0px 3px 10px;
  }
  .recent-video-2 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .recent-title-description-2 h4 {
    margin: 10px 0px 3px 10px;
  }
  /* **********Playlist Section responsive css*************** */
  .playlist-video {
    margin: 10px 0px 0px;
    flex-wrap: wrap;
    padding: 0px 10px;
  }
  .playlist-video-1 {
    height: 300px;
    width: 320px;
  }
  .playlist-video-2 {
    height: 300px;
    width: 320px;
  }
  .playlist-video-3 {
    height: 300px;
    width: 320px;
  }
  .playlist-video-1 img {
    height: 180px;
  }
  .playlist-video-2 img {
    height: 180px;
  }
  .playlist-video-3 img {
    height: 180px;
  }
  /* **********Review Section responsive css*************** */
  .video-reviews {
    margin: 30px 0px 90px;
    gap: 30px;
    flex-wrap: wrap;
  }
  .video-reviews-part-1 {
    padding: 20px;
  }
  .reviews-part-1-img-name h3 {
    font-size: 18px;
    padding-left: 30px;
  }
  .video-reviews-part-1 p {
    padding: 15px;
  }
  /* **********About Page responsive css*************** */
  section.about-section h2 {
    font-size: 25px;
    padding: 0px 13px 10px;
  }
  .about-section-text-img {
    width: 85%;
  }
  .about-section-img img {
    height: 360px;
  }
  .about-section-text p {
    font-size: 15px;
    line-height: 20px;
  }

  /* **********Article page responsive css********** */
  .heading-article h2 {
    font-size: 20px;
    padding: 4px 0px 10px;
  }
  .heading-article p {
    margin-bottom: 20px;
    width: 90%;
    margin: 20px auto;
  }
  .article-heading-img img {
    height: 260px;
  }
  .article-paragraph p {
    width: 100%;
    margin: 20px auto;
  }
  .article-heading-img {
    width: 90%;
    margin: auto;
  }
  .article-heading-img img {
    height: 240px;
  }
  .article-paragraph p {
    width: 90%;
    margin: 15px auto;
    font-size: 15px;
  }
  .article-paragraph-img {
    gap: 10px;
    width: 90%;
    margin: auto;
  }
  .article-related-post {
    width: 90%;
    margin: auto;
  }
  .article-related-post-1 h4 {
    font-size: 16px;
    padding: 4px 0px;
  }
  .article-related-post-1 p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .article-related-post-2 h4 {
    font-size: 16px;
    padding: 4px 0px;
  }
  .article-related-post-2 p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .article-related-post-3 h4 {
    font-size: 16px;
    padding: 4px 0px;
  }
  .article-related-post-3 p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  /* ********Contact Page********** */
  .contact-form h2 {
    font-size: 22px;
    line-height: 3rem;
    font-weight: 600;
  }
  .contact-form h5 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .contact-form fieldset {
    width: 100%;
  }
  .contact-form form {
    width: 80%;
    margin: 25px auto;
  }
  .find-us-text h4 {
    font-size: 14px;
    line-height: 1.2rem;
  }
  .find-us-text p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .find-us-loaction iframe {
    height: 320px;
  }
  .find-us-loaction {
    width: 95%;
  }
  .find-us-text {
    width: 95%;
  }
  /* **********Courses Page responsive css********** */
  .shop-courses-title h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .shop-courses-title p {
    line-height: 24px;
    margin-bottom: 24px;
    text-align: justify;
  }
  .shop-courses-img {
    all: inherit;
  }
  .shop-courses-img img {
    width: 340px;
    height: 360px;
  }
  section.shop-courses {
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 0px;
  }
  .shop-courses-title {
    padding: 0px 20px 20px;
  }
  .trending-section-courses {
    flex-wrap: wrap;
  }
  .trending-section-courses-1 {
    width: 100%;
  }
  .trending-section-courses-2 {
    width: 100%;
  }
  .trending-section-courses-1 img {
    height: 300px;
  }
  .trending-section-courses-2-part-1 img {
    height: 255px;
  }
  .trending-section-courses-2-part-2 img {
    height: 255px;
  }
  /* **********test-computer-basic page responsive************* */

  section.test-computer-basic-section {
    margin-top: 80px;
  }
  .test-computer-basic-title p {
    font-size: 15px;
  }
  .test-computer-basic-title {
    height: 165px;
  }
  /* ****************computer-basic-quiz set1********************* */
  .quiz-container {
    width: 100%;
  }
  .nav-container {
    width: 100%;
  }
  div .quiz {
    flex-wrap: wrap-reverse;
    padding: 45px 5px;
  }
  .nav-container h3 {
    text-align: center;
  }
  .nav-container {
    padding: 0px 25px;
  }
  .nav-btn {
    width: 25px;
    height: 25px;
  }
  section.computer-basic-1-section i {
    top: 14px;
    font-size: 20px;
  }
  #question-nav {
    margin-bottom: 30px;
    gap: 15px;
  }
  .quiz-container button {
    padding: 7px 8px;
  }
  /* ****************Result quiz test********************* */
  div#result {
    width: 95%;
  }
  #result button {
    margin: 20px 10px;
    padding: 9px 7px;
    font-size: 13px;
  }
  div#result h2 {
    font-size: 26px;
    margin-bottom: 12px;
  }
  p#score {
    font-size: 20px;
  }
  /* ****************Login Page********************* */
  .login-form-title {
    font-size: 24px;
  }
  .login-form {
    width: 65%;
  }
  /* ****************Sign Up Page********************* */
  .sign-up {
    gap: 20px;
  }
  .sign-up-part-1 .name input,
  .sign-up-part-1 .email input,
  .sign-up-part-1 .phone input,
  .sign-up-part-1 .address input,
  .sign-up-part-1 .password input,
  .sign-up-part-1 .confirm-password input {
    width: 90%;
  }
  .sign-up-part-1 .name i,
  .sign-up-part-1 .email i,
  .sign-up-part-1 .phone i,
  .sign-up-part-1 .address i,
  .sign-up-part-1 .password i,
  .sign-up-part-1 .confirm-password i {
    margin-left: 50px;
  }
  .terms-condition {
    margin-left: 35px;
  }
}
/* **************** For medium-sized mobile devices.****************** */
@media (max-width: 480px) {
  /* **********Header responsive css********** */
  .nav-part1 {
    width: 80%;
  }
  .hamburger-menu {
    right: 25px;
    font-size: 25px;
  }
  .nav-part2 ul li a {
    font-size: 16px;
  }
  .nav-part2 ul {
    padding: 20px 0px;
  }
  .nav-part2 .close-btn {
    font-size: 16px;
    right: 24px;
  }
  .nav-part2 ul li button {
    font-size: 13px;
  }
  /* **********Footer responsive css********** */
  .underline {
    width: 95px;
  }
  @keyframes line_animation {
    from {
      left: -30px;
    }
    to {
      left: 110px;
    }
  }
  .footer-part-1 {
    display: block;
  }
  .footer-part-2 {
    margin: 0;
  }
  .footer-logo h2 {
    font-size: 18px;
    padding-left: 15px;
  }
  /* *********Slider responsive css*************** */
  .mySlides.fade img {
    height: 170px;
  }
  .prev,
  .next {
    font-size: 20px;
  }
  .text {
    padding: 0px;
  }
  .prev,
  .next {
    margin-top: -40px;
  }
  .content-section h2 {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .content-section {
    width: 90%;
    top: 15px;
  }
  /* **********Recent Section responsive css*************** */
  section.recent-video {
    width: 90%;
  }
  .recent-video-img-1 {
    padding-left: 0;
  }
  .recent-title-description-1 {
    padding: 0;
    line-height: 21px;
  }
  .recent-video-img-2 {
    padding-left: 0;
  }
  .recent-title-description-2 {
    padding: 0;
    line-height: 21px;
  }
  .recent-title-description-1 button {
    margin: 7px 8px;
  }
  .recent-title-description-2 button {
    margin: 7px 8px;
  }
  /* **********Recent Section responsive css*************** */
  .playlist-video-section h2 {
    font-size: 22px;
    padding-left: 10px;
  }
  /* **********About Page responsive css*************** */
  section.about-section h2 {
    font-size: 20px;
    padding: 0px 13px 8px;
  }
  .about-section-img img {
    height: 320px;
  }
  .about-section-text-img {
    width: 95%;
    gap: 20px;
  }
  .about-section-text p {
    font-size: 14px;
    line-height: 18px;
  }
  /* **********Article Page responsive css*************** */
  section.article-section {
    width: 95%;
  }
  .article-heading-img img {
    height: 185px;
  }
  .heading-article h2 {
    font-size: 18px;
    padding: 2px 0px 5px;
  }
  .heading-article p {
    margin-bottom: 20px;
    width: 90%;
    margin: 10px auto;
    font-size: 15px;
  }
  .article-paragraph p {
    width: 90%;
    margin: 10px auto;
    font-size: 14px;
  }
  .article-paragraph-img img {
    height: 200px;
  }
  .article-related-post-1 img {
    height: 200px;
  }
  .article-related-post-2 img {
    height: 200px;
  }
  .article-related-post-3 img {
    height: 200px;
  }
  .article-related h3 {
    font-size: 18px;
  }
  /* ****** test quiz page*********** */
  .testquiz-title h2 {
    font-size: 20px;
    font-weight: 500;
    word-spacing: 0px;
    letter-spacing: 0px;
  }
  /* **********Courses Page responsive css********** */
  .shop-title h2 {
    font-size: 22px;
    margin: 6px 0px;
  }
  .shop-courses-title {
    padding: 0;
  }
  .shop-courses-title p {
    line-height: 23px;
    margin-bottom: 19px;
  }
  .shop-courses-img img {
    height: 290px;
  }
  .trending-section-courses-2-part-1 {
    margin-bottom: 25px;
  }
  .shop-courses-title h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .shop-courses-title p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  /* **********test-computer-basic page responsive************* */
  .test-computer-basic-content {
    width: 135px;
  }
  .test-computer-basic-title h2 {
    font-size: 20px;
    padding: 5px;
  }
  .test-computer-basic-title {
    height: 185px;
  }
  .test-computer-basic-title p {
    width: 95%;
  }
  .test-computer-basic {
    gap: 20px;
  }
  /* ****************Result quiz test********************* */
  div#result h2 {
    font-size: 25px;
    margin-bottom: 11px;
  }
  p#score {
    font-size: 19px;
  }
  /* ****************Login Page********************* */
  .login-form-title {
    font-size: 18px;
  }
  .login-form {
    width: 85%;
  }
  .user-name,
  .user-password,
  .login-button {
    padding: 7px 0;
  }
  .sign-up-button p,
  .sign-up-button a {
    font-size: 16px;
  }
  .question-container label,
  input {
    margin: 5px auto;
    padding: 10px;
  }
  .login-form .user-name i,
  .user-password i {
    margin: 19px 20px;
  }
  .login-button button {
    font-size: 20px;
    padding: 10px;
  }
  /* ****************Sign Up Page********************* */
  .sign-up-part-1 .name input,
  .sign-up-part-1 .email input,
  .sign-up-part-1 .phone input,
  .sign-up-part-1 .address input,
  .sign-up-part-1 .password input,
  .sign-up-part-1 .confirm-password input {
    width: 90%;
    font-size: 18px;
  }
  .sign-up-part-1 .name i,
  .sign-up-part-1 .email i,
  .sign-up-part-1 .phone i,
  .sign-up-part-1 .address i,
  .sign-up-part-1 .password i,
  .sign-up-part-1 .confirm-password i {
    margin-left: 25px;
  }
  .sign-up-part-1 .name input,
  .sign-up-part-1 .email input,
  .sign-up-part-1 .phone input,
  .sign-up-part-1 .address input,
  .sign-up-part-1 .password input,
  .sign-up-part-1 .confirm-password input {
    width: 95%;
    padding-left: 45px;
  }
  .terms-condition {
    margin-left: 10px;
  }
  .sign-in-button p,
  .sign-in-button a {
    font-size: 16px;
  }
  .register-button button {
    width: 100%;
    margin-left: 0;
    padding: 9px 20px;
  }
  .sign-up-part-2 img {
    height: 300px;
  }
  .terms-condition label {
    font-size: 13px;
    font-weight: 400;
    font-family: cursive;
  }
  section.sign-up-section h1 {
    font-size: 25px;
  }
}
@media (max-width: 340px) {
  /* *********Header Responsive css************* */
  .hamburger-menu {
    right: 25px;
  }
  .content-section {
    width: 90%;
    top: 10px;
    height: 280px;
  }
  .content-section h2 {
    font-size: 18px;
  }
  .nav-part2 ul li a {
    font-size: 14px;
  }
  .nav-part2 ul li button {
    font-size: 11px;
  }
  .nav-part2 .close-btn {
    font-size: 14px;
    right: 20px;
  }
  /* *********Footer Responsive css************* */
  .footer-part-1 {
    display: block;
  }
  .footer-logo h2 {
    font-size: 16px;
    padding-left: 15px;
  }
  .footer-copyride-symbole p {
    padding-top: 6px;
    font-size: 14px;
    word-spacing: 0px;
    letter-spacing: 0px;
    padding-bottom: 10px;
  }
  .footer-part-2-topic-1 p {
    line-height: 40px;
    font-size: 14px;
  }
  .footer-part-2-topic-2 p {
    line-height: 40px;
    font-size: 14px;
  }
  .footer-part-2-topic-3 p {
    line-height: 40px;
    font-size: 14px;
  }
  .underline {
    width: 88px;
  }
  /* **********Recent Section responsive css*************** */
  .recent-title-description-1 p {
    padding: 0px 1px;
    line-height: 21px;
  }
  .recent-title-description-1 button {
    margin: 6px 9px;
  }
  .recent-title-description-2 p {
    padding: 0px 1px;
    line-height: 21px;
  }
  .recent-title-description-2 button {
    margin: 6px 9px;
  }
  /* **********Playlist Section responsive css******************* */
  .playlist-video {
    padding: 10px;
  }

  /* ********about page************* */
  .about-section-text h3 {
    font-size: 15px;
  }
  /* ********Contact page************* */
  .find-us-loaction iframe {
    height: 260px;
  }
  /* ****** test quiz page*********** */
  .testquiz-title h2 {
    font-size: 17px;
  }
  .testquiz-title {
    height: 85px;
  }
  /* **********Courses Page responsive css********** */
  .shop-courses-img img {
    width: 100%;
    height: 250px;
  }
  .trending-section-courses-1 img {
    height: 250px;
  }
  .trending-section-courses-2-part-1 img {
    height: 200px;
  }
  .trending-section-courses-2-part-2 img {
    height: 200px;
  }
  .shop-courses-title button {
    padding: 5px 4px;
  }
  /* **********test-computer-basic page responsive************* */
  .test-computer-basic-title {
    height: 205px;
  }
  .test-computer-basic {
    column-gap: 10px;
  }
  /* ****************computer-basic-quiz set1********************* */
  .nav-container h3 {
    padding: 20px 0px;
  }
  .quiz-container #question {
    font-size: 17px;
  }
  .nav-container h3 {
    font-size: 19px;
  }
  /* ****************Result quiz test********************* */
  .incorrect-review {
    line-height: 25px;
  }
  div#result h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  /* ****************Login Page********************* */
  .login-form-title {
    font-size: 20px;
  }
  .login-form {
    width: 95%;
  }
  .user-name,
  .user-password,
  .login-button {
    padding: 5px 0;
  }
  .sign-up-button p,
  .sign-up-button a {
    font-size: 15px;
  }
}
/* update changes */